// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$theme-colors: (
    "primary": #ffffff,
    "danger": red,
);

$display-font-sizes: (
    1: 10rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

/* Fix for flickering carousel */
.carousel-inner .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
    position: relative;
}
.carousel-inner .active {
    opacity: 1;
}
/* End of fix */

// Then add additional custom code here

@mixin bg-shadow($brightness) {
    &::before {
        content: ""; // ::before and ::after both require content
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: $brightness;
        z-index: 1;
    }
    & > * {
        z-index: 100;
    }
}

.backgrounding {
    @include bg-shadow(0.2);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.navbar {
    @include bg-shadow(0.2);
    position: absolute;
    z-index: 10;

    .navbar-button {
        @extend .btn, .col-lg-2, .p-2, .fs-4, .text-white;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;

        &:active{
            outline: none;
        }
    }
}

.carousel-item {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.small-text-shadow {
    text-shadow: 2px 2px black;
}

.font-family-brush {
    font-family: brush script mt, cursive;
}
