// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$theme-colors: (
    "primary": rgb(177, 115, 0),
);

$display-font-sizes: (
    1: 9rem,
    2: 6.5rem,
    3: 6rem,
    4: 5.5rem,
    5: 4rem,
    6: 3.5rem,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

// Then add additional custom code here

@mixin bg-color($color, $brightness, $position) {
    &::before {
        content: ""; // ::before and ::after both require content
        position: $position;
        width: 100%;
        height: 100%;
        background-color: $color;
        opacity: $brightness;
        z-index: -1;
    }
    & > * {
        z-index: 100;
    }
}

.bg-img {
    min-height: 100%;
    background-image: url("/common/img/jezioro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;

    &::before {
        content: ""; // ::before and ::after both require content
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.3;
        z-index: 1;
    }
}

.content {
    position: absolute;
}

.navbar {
    @include bg-color(black, 0.3, absolute);

    .nav-link {
        @extend .text-white, .text-center, .small-text-shadow, .fs-4, .mx-4;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
    }
}

#main-page,
#reservation-page,
#contact-page,
#rooms-page {
    min-height: 100vh;
}

#rooms-page {
    #rooms-title {
        margin-top: 9rem;
    }

    .card {
        @include bg-color(white, 0.9, absolute);
        border-radius: 1rem;
        border: none;

        &::before {
            border-radius: 1rem;
            border: none;
        }
    }

    .carousel-rooms .carousel-item {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border: none;
        overflow: hidden;
    }
}

#reservation-page {
    #reservation-title {
        margin-top: 9rem;
    }
    .btn {
        opacity: 0.9;
    }
}

#contact-page {
    #contact-title {
        margin-top: 9rem;
    }

    #contact-body {
        border-radius: 0.5rem;
    }

    .map-container {
        overflow: hidden;
    }
}

.small-text-shadow {
    text-shadow: 1px 1px black;
}

.font-family-brush {
    font-family: brush script mt, cursive;
}

.font-family-gill-sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.no-select {
    user-select: none;
}
